.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    min-height: 400px;
}

.footer{
    /* background: #D1C4E9; */
    margin: 0px auto;
    padding: 20px 0px;
    /* color: #000000; */
    color:#648888;
    background: linear-gradient(to left, #a1d3b0, #f6f1d3);
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0F0F0F;
}

body{
    padding: 80px 0px 0px 0px;
    z-index: 0;
    color:white;
    background: #000000;
}

.navbar-dark{
    color:#648888;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);

}
hr{
    border-top: 1px solid #FFFFFF;
    opacity: 0.4;
}
p{
    font-size: 1.1em;
    padding-top: 8px 0px;
}



.rate {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.buttons {
    top: 36px;
    position: relative
}

.rating-submit {
    border-radius: 15px;
    color: #FFFFFF;
    height: 49px
}

.rating-submit:hover {
    color: #FFFFFF;
}

.page-heading{
    font-family: "Poppins";
    margin: 25px auto;
    padding: 15px auto;
    font-size: 400%;
    background: -webkit-linear-gradient(left, #F32170, #FFEB07, #2196F3, #FF00EB);
    -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

.page-sub-heading{
    font-family: "Lobster";
    font-size: 200%;
    margin: 8px 0px;
    margin-top: 14px;
    padding: 4px 0px;
}

.card{
    margin-top: 20px;
}

ul li a{
    color:#648888;
}

.details-body{
    height:65px;
}


.my-badge{
    position:absolute;
    top: -10px;
    right:-10px;
    z-index: 2;
}

.my-badge-main{
    position:absolute;
    top: -30px;
    right:50px;
    z-index: 2;
}

.my-premium{
    position:absolute;
    top: -10px;
    right:0px;
    z-index: 2;
}

.my-gift-card{
    position:absolute;
    top: -25px;
    left: -25px;
    z-index: 2;
}


.my-gift-card-main{
    position:absolute;
    top: -25px;
    left: -20px;
    z-index: 2;
}

.my-new{
    position:absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.my-new-main{
    position:absolute;
    top: 0px;
    right: 88px;
    z-index: 2;
}
.my-sale{
    position:absolute;
    top: -10px;
    left: -30px;
    z-index: 2;
}

.my-sale-main{
    position:absolute;
    top: -10px;
    left: -50px;
    z-index: 2;
}

.my-offer{
    position:absolute;
    top: -20px;
    right:-20px;
    z-index: 2;
}

.my-offer-main{
    position:absolute;
    top: 15px;
    right:90px;
    z-index: 2;
}
.my-gift-box{
    position:absolute;
    top: -10px;
    left: -30px;
    z-index: 2;
}

.my-gift-box-main{
    position:absolute;
    top: -14px;
    left: -10px;
    z-index: 2;
}


.popover-header{
    color:#FFFFFF;
    background-color: #F3A002;
}

.popover-body{
    width:100%;
}

.popover-footer{
    padding: 6px 14px;
    background-color: #F3A002;
    border-top: 1px solid #ebebeb;
    text-align: right;

}